body
  padding-top 60px
  padding-bottom 40px

  > .container-fluid
    padding-left 0

.sidebar-nav
  padding 9px 0


.hide
  display none

.label
  font-weight bold
  margin-right 20px

#mails
  .mails
    margin 1em 0
    font-size 12px
    td
      padding: 2px 3px;

#search
  .search-text
    width: 256px



