body
  padding-top 60px
  padding-bottom 40px

  > .container-fluid
    padding-left 0

.sidebar-nav
  padding 9px 0


.hide
  display none

.label
  font-weight bold
  margin-right 20px

#mails
  height: 300px;
  overflow-y: scroll;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;

  .mails
    margin 1em 0
    font-size 12px

    td
      padding: 2px 3px;
      font-size: 13px;

      .from
        font-weight: bold

    th.field-date
      width: 120px

    tbody
      tr.mail
        cursor: pointer

      tr.selected
        background: yellow

#mailbody
  min-height: 100px;

#search
  .search-text
    width: 256px



